.pagination {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 80%;
  gap: 20px;
  margin-bottom: 2rem;
}
.page__button {
  width: 30px;
  height: 30px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: black;
  border-color: #eee;
  &.active {
    font-weight: 900;
    border-color: #101010;
    background: black;
    color: white;
  }
}
.change-page__buttons {
  display: flex;

  gap: 2rem;
}
.change-page__button {
  font-size: 16px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: red;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: none;
  width: 6rem;
  &:disabled {
    background: rgb(255, 162, 162);
    cursor: not-allowed;
  }
}
