.characters__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 200vh;
}
.search-input {
  margin-top: 2rem;
  width: 80%;
  input {
    width: 100%;
    background-color: transparent;
    outline: none;
    padding: 0.5rem;
    border: none;
    font-size: 16px;
    border-bottom: 1px solid gray;
  }
}
.filters {
  margin-top: 2rem;
  width: 80%;
  display: flex;
  align-items: center;
  gap: 2rem;
  select {
    width: 6rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
  }
}
.grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  button {
    width: max-content;
  }
}
.control__button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .filters {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
