.character {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 15rem;
  overflow: clip;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.32);
  transition: top ease 0.5s;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
  }

  &:hover {
    top: -5px;
  }
}
.character__info {
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  text-shadow: 2px 2px 2px #000000;
}
