.home__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: relative;
}

.background__image {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.information {
  margin-top: 10rem;
  margin-left: 3rem;
  width: 40%;
  padding: 2rem;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.822);
  color: white;
  h3 {
    margin-bottom: 2rem;
  }
}
.information__button {
  margin-top: 2rem;
  background-color: #c0392b;
  padding: 0.5rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: 600;
  a {
    text-decoration: none;
    color: inherit;
  }
}
