.bookmarks {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  button {
    width: max-content;
    padding: 0.5rem;
    margin-bottom: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.904);
    border-radius: 5px;
    font-weight: 600;
    color: white;
    cursor: pointer;
  }
}
.bookmarks__container {
  margin-top: 4rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
