.character-details__page {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.character-details__container {
  margin-top: 2rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image__section {
  display: flex;
  gap: 4rem;
  img {
    flex: 1;
    width: 100%;
    height: 25rem;
    object-fit: cover;
  }
}
.info__section {
  display: flex;
}
.bookmark {
  margin-top: auto;
  width: 6rem;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 16px;
  &:disabled {
    cursor: not-allowed;
    background: rgb(187, 187, 187);
  }
}
.character__appearances {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
  div {
    li {
      list-style: none;
      font-size: 14px;
    }
  }
}
@media only screen and (max-width: 800px) {
  .character-details__container {
    width: 90%;
  }
  .image__section {
    flex-direction: column;
  }
}
