.story-details__page {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.story-details__container {
  margin-top: 2rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image__section {
  display: flex;
  gap: 4rem;
  img {
    flex: 1;
    width: 100%;
    height: 25rem;
    object-fit: cover;
  }
}
.info__section {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
.story__appearances {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
  div {
    li {
      list-style: none;
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .story-details__container {
    width: 90%;
  }
  .image__section {
    flex-direction: column;
  }
}
